{
  ;; see https://github.com/clojure/data.generators/blob/master/src/main/clojure/clojure/data/generators.clj
  :data [
    (gen/uuid)
    (+ 40 (rand-int 60))
    (gen/date)
    (ct/minus (ct/now)
      (ct/months  (rand-int  3))
      (ct/days    (rand-int 32))
      (ct/hours   (rand-int 25))
      (ct/minutes (rand-int 61)))
    (gen/one-of "a" "b" "c" "d")
    (gen/boolean)
    (gen/short)
    (gen/int)
    (gen/long)
    (gen/string)
    (gen/long)
    10
  ]
  :output-file "hello.csv"
  :lines 10
  :separator \, ;; or \tab (default)
}
